.flip{
    width: 300px;
    margin: auto;
    margin-top: 100px;
}
.content{
    border: 2px solid #999;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.content .item{
    border-radius: 20px;
    height: 38px;
    margin-bottom: 20px;
    background-color:#88ada6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
.content .item.active{
    background-color: #44cef6;
}